* {
  font-family: Georgia, serif;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

html {
  background-color: #ccc;
}

body {
  /* background: url(pic/grid.png); */
  font-size: 1em;
  background-color: #fff;
  padding: 1.5em 3em;
  margin-left: auto;
  margin-right: auto;
  max-width: 45em;
  text-rendering: optimizeLegibility;
  box-shadow: 0 0 20em #000;
  /* word-spacing: .2ex; */
}

a:hover {
  background-color: #ff8;
}

/* Indent non-first paragraphs. */
p + p, p + aside + p, p + table + p { text-indent: 1.5em; }
p:empty + p { margin-top: 1rem; }
p:empty + p:not([hanging]) { text-indent: 0; }
p[noindent] { text-indent: 0; }
[blank] { margin: 1rem 0; }
div[hanging] > p, p[hanging] {
  padding-left: 1.5rem;
  text-indent: -1.5rem;
}
div[hanging] > p > * { text-indent: 0; }

h1, h2, h3 {
  font-family: Verdana, sans-serif;
  font-style: normal;
  font-weight: bold;
}

h1 {
  font-size: 2em;
  line-height: 1.25em;
  padding-top: 1.4em;
  padding-bottom: 0.35em;
  word-spacing: -0.05ex;
  letter-spacing: -0.05ex;
}

h2 {
  font-size: 1.6em;
  line-height: 1.35em;
  padding-top: 1.17em;
  padding-bottom: 0.2925em;
  word-spacing: -0.025ex;
  letter-spacing: -0.025ex;
}

h3 {
  font-size: 1.2em;
  line-height: 1.5em;
  padding-top: 0.8em;
  padding-bottom: 0.2em;
  word-spacing: -0.0125ex;
  letter-spacing: -0.0125ex;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 1.5em;
}

/******************************************************************************/

table {
  margin: 1.5em 0em;
}
table td {
  vertical-align: text-top;
}
ul {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-left: 1.5em;
}
ul ul {
  margin-top: .75em;
  margin-bottom: .75em;
}

small {
  font-size: .9em;
  line-height: 1.5em;
}

.center { text-align: center; }
.right { text-align: right; }

table.center {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

/* = LINKS TO SCANS */
a.img {
  display: block;
  background-color: #ff8;
  border: .15rem solid #000;
  clear: right;
  float: right;
  margin: .35rem;
  margin-right: 0;
  text-align: center;
  padding: .45rem;
  text-decoration: none;
  font: initial;
}
a.img img {
  border-width: .15rem;
  display: block;
  margin: auto;
}
a.img:hover { text-decoration: revert; }
a.img:hover img { outline: 1px solid currentcolor; }
a.img[DONE] { background: #00f4; }

header {
  background: #ff8;
  border: .15em solid #000;
  padding: .5em .75em;
  text-align: center;
  margin-bottom: 2em;
}
hgroup { text-align: center; }

hr {
  color: #000;
  margin: 2em 1.5em;
}

table.definition {
  border-collapse: collapse;
}
table.definition td, table.definition th {
  text-align: left;
  vertical-align: top;
  padding: 0 .5em;
}
table.definition th {
  font: inherit;
  font-style: italic;
}

aside:not(:empty), blockquote { margin: 2rem 1.5rem; }

/* eof */
